<p>为了保证更好的使用效果，强烈建议您使用<a href='http://rj.baidu.com/soft/detail/14744.html?ald' target='_blank' >chrome浏览器</a></p>
<hr/>
<b>荟邮旗下产品平台</b>
<table style="width:500px">
	<tr>
		<td style="vertical-align:top">
			<p>邮轮时代</p>
			<button type="button" onclick="window.open('http://www.youlunshidai.com');" style="margin-top:10px;" class="btn btn-default btn-lg"><img src="http://www.youlunshidai.com/images/logo.png" style="height:30px"></img></button>
			<br/><br/>
		</td>
		<td style="vertical-align:top">
			<p>荟邮轮</p>
			<button type="button" onclick="window.open('http://www.huiyoulun.com');" style="margin-top:10px;" class="btn btn-default btn-lg"><img src="http://www.huiyoulun.com/images/logo.png" style="height:30px"></img></button>
		</td>
		<td style="vertical-align:top">
			<p>邮轮时代公众号</p>
			<img src="http://www.youlunshidai.com/images/qrcode_for_gh_d38dec1e7532_430.jpg" style="height:70px"></img>
		</td>
		<td style="vertical-align:top">
			<p>荟邮轮公众号</p>
			<img src="/images/qrcode_for_gh_de1b7e3f76b0_258.jpg" style="height:70px"></img>
		</td>
	</tr>
</table>
<hr/>
<b>新功能测试平台</b><br/><br/>
<div>
	新版B2C&nbsp;<a href='http://117.121.25.131:1231/' target='_blank' >进入<span class="glyphicon glyphicon-hand-right"></span></a>
	&nbsp;&nbsp;&nbsp;B2B&nbsp;<a href='https://117.121.25.228:1985/' target='_blank' >进入<span class="glyphicon glyphicon-hand-right"></span></a>
	&nbsp;&nbsp;&nbsp;微信端&nbsp;<a href='http://tcjr.holidaycloud.cn/' target='_blank' >进入<span class="glyphicon glyphicon-hand-right"></span></a>
	&nbsp;&nbsp;&nbsp;移动查询工具&nbsp;<a href='http://www.4000191177.com:8088/loading.html' target='_blank' >进入<span class="glyphicon glyphicon-hand-right"></span></a>
</div>
<hr/>
<b>平台公告和更新日志</b>
<br/>
<div id="_loglist"><span class='glyphicon glyphicon-refresh' style='margin-right:5px'></span>数据加载中</div>

<script>
	//alert(navigator.userAgent);
	$("#viewtable").css("display","none");

</script>
    