<div id="loginModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">  
            <div class="modal-content">  
                <div class="modal-header">  
                    <h3>登录</h3>  
                    <p>请输入用户名和密码</p>  
                </div>  
                <div class="modal-body">     
                        <table class="table">  
                            <tr>  
                                <td>用户名</td>  
                                <td><input type="text" name="username" id="name"  class="form-control" placeholder="请输入你的E-mail或手机号" /></td>  
                            </tr>  
                            <tr>  
                                <td>密码</td>  
                                <td><input type="password" name="password" id="pwd" class="form-control" placeholder="请输入你的密码" /></td>  
                            </tr>  
                            <tr>  
                                <td></td>  
                                <td>
                                  <div class="checkbox">
                                    <label>
                                      <input id="txtRememberKey" name="txtRememberKey" type="checkbox"> 记住用户名和密码
                                    </label>
                                  </div>
                                </td>  
                            </tr>
                            <tr>  
                                <td></td>  
                                <td><input type="button" onclick="login()" value="登入" class="btn btn-primary btn-lg btn-block" /></td>  
                            </tr>  
                        </table>   
                </div>  
                <div class="modal-footer">  
                    © 上海荟邮网络科技有限公司 
                </div>  
            </div>  
        </div>          
  </div>