<div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">  
            <div class="modal-content">  
                <div class="modal-header"> 
                    提示信息   
                </div>  
                <div class="modal-body" id="content_info" >   
                </div>  
                <div class="modal-footer">  
                </div>  
            </div>  
        </div>          
</div>