<div class="panel-group" style="margin-top:10px" id="accordion_all">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse1_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-headphones"></span>客服
            </a>
         </h4>
      </div>
      <div id="collapse1_all" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="panel-group"  id="accordion_1">

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse21">
               <span style="margin-right:5px;" class="glyphicon glyphicon-random"></span>对口管理
            </a>
         </h4>
      </div>
      <div id="collapse21" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="mybcontactsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/mybcontacts'" style="cursor:pointer">我的买家</span></li>
                <li id="myscontactsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myscontacts'" style="cursor:pointer">我的卖家</span></li>
         </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse3">
               <span style="margin-right:5px;" class="glyphicon glyphicon-envelope"></span>短信管理
            </a>
         </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="mysmsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/mysms'" style="cursor:pointer">短信发送</span></li>
                <li id="mysmsrecordLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/mysmsrecord'" style="cursor:pointer">我的发送记录</span></li>
         </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse22">
               <span style="margin-right:5px;" class="glyphicon glyphicon-envelope"></span>客户管理
            </a>
         </h4>
      </div>
      <div id="collapse22" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="myPassengerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myPassenger'" style="cursor:pointer">我的客户</span></li>
                <li id="allPassengerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allPassenger'" style="cursor:pointer">所有客户</span></li>
         </ul>
         </div>
      </div>
   </div>

    <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse16">
               <span style="margin-right:5px;" class="glyphicon glyphicon-tags"></span>业务管理
            </a>
         </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="myExcelALI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myExcelA'" style="cursor:pointer">客户咨询及订单记录</span></li>
                <li id="myExcelBLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myExcelB'" style="cursor:pointer">供应商，分销商联系报告</span></li>
         </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse12">
               <span style="margin-right:5px;" class="glyphicon glyphicon-road"></span>近期主推航次
            </a>
         </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="myCustomerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myCustomer'" style="cursor:pointer">我的主推</span></li>
               <li id="allCustomerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allCustomer'" style="cursor:pointer">所有主推</span></li>
            </ul>
         </div>
      </div>
   </div>

   <!--
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse6">
               <span style="margin-right:5px;" class="glyphicon glyphicon-floppy-disk"></span>咨询管理
            </a>
         </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="myPassengerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/myPassenger'" style="cursor:pointer">我的咨询</span></li>
            </ul>
         </div>
      </div>
   </div>-->

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse8">
               <span style="margin-right:5px;" class="glyphicon glyphicon-cloud"></span>基础数据管理
            </a>
         </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="companyLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/company'" style="cursor:pointer">邮轮公司</span></li>
               <li id="shipLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/ship'" style="cursor:pointer">邮轮</span></li>
               <li id="areaLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/area'" style="cursor:pointer">目的地</span></li>
               <li id="lineLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/line'" style="cursor:pointer">航线</span></li>
               <li id="cabinLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/cabin'" style="cursor:pointer">舱房</span></li>

            </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse18">
               <span style="margin-right:5px;" class="glyphicon glyphicon-picture"></span>图片管理
            </a>
         </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
                <li id="pic1LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic1'" style="cursor:pointer">公司LOGO</span></li>
               <li id="pic2LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic2'" style="cursor:pointer">公司特色</span></li>
               <li id="pic3LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic3'" style="cursor:pointer">船和特色</span></li>
               <li id="pic4LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic4'" style="cursor:pointer">航区</span></li>
               <li id="pic5LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic5'" style="cursor:pointer">餐厅</span></li>
               <li id="pic6LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic6'" style="cursor:pointer">舱房</span></li>
               <li id="pic7LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic7'" style="cursor:pointer">娱乐设施</span></li>
               <li id="pic8LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic8'" style="cursor:pointer">港口</span></li>
               <li id="pic9LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic9'" style="cursor:pointer">航线</span></li>
               <li id="pic10LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic10'" style="cursor:pointer">促销</span></li>
               <li id="pic11LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic11'" style="cursor:pointer">分享</span></li>
               <li id="pic12LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pic12'" style="cursor:pointer">主题</span></li>
            </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse9">
               <span style="margin-right:5px;" class="glyphicon glyphicon-folder-close"></span>文件管理
            </a>
         </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="fileLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/file'" style="cursor:pointer">度假中心</span></li>
            </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_1" 
               href="#collapse10">
               <span style="margin-right:5px;" class="glyphicon glyphicon-flag"></span>航次管理
            </a>
         </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="linelistLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/linelist'" style="cursor:pointer">航次清单</span></li>
            </ul>
         </div>
      </div>
   </div>


            </div>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse2_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-road"></span>B2B
            </a>
         </h4>
      </div>
      <div id="collapse2_all" class="panel-collapse collapse">
         <div class="panel-body">
<!--b2b模块内容页-->
<div class="panel-group" style="margin-top:10px" id="accordion_2">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_2" 
               href="#collapse1">
               <span style="margin-right:5px;" class="glyphicon glyphicon-globe"></span>用户管理
            </a>
         </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="registerApproveLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/registerApprove'" style="cursor:pointer">注册待审核</span></li>
               <li id="nopassuserLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/nopassuser'" style="cursor:pointer">审核未通过</span></li>
               <li id="passeduserLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/passeduser'" style="cursor:pointer">审核已通过</span></li>
               <li id="passedusersonLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/passeduserson'" style="cursor:pointer">子账户信息</span></li>

               <!--<li class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/company'" style="cursor:pointer">公司信息</span></li>
               <li class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/user'" style="cursor:pointer">用户信息</span></li>-->
         </ul>
         </div>
      </div>
   </div>
   
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_2" 
               href="#collapse7">
               <span style="margin-right:5px;" class="glyphicon glyphicon-phone-alt"></span>订单管理
            </a>
         </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="bookingbuyLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/bookingbuy'" style="cursor:pointer">买家订单</span></li>
               <li id="bookingsellLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/bookingsell'" style="cursor:pointer">卖家订单</span></li>
            </ul>
         </div>
      </div>
   </div>
  
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_2" 
               href="#collapse5">
               <span style="margin-right:5px;" class="glyphicon glyphicon-time"></span>日志管理
            </a>
         </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="logDbChangeLI" style="display:none" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/logDbChange'" style="cursor:pointer">数据维护</span></li>
               <li id="productlogLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/productlog'" style="cursor:pointer">产品浏览</span></li>
               <li id="userlogLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/userlog'" style="cursor:pointer">用户访问量</span></li>
               <li id="updatelogLI" style="display:none" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-book"></span><span onclick="window.location='/updatelog'" style="cursor:pointer">更新日志</span></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!--END b2b模块内容页-->
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse3_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-hand-right"></span>B2C
            </a>
         </h4>
      </div>
      <div id="collapse3_all" class="panel-collapse collapse">
         <div class="panel-body">
            
            <div class="panel-group"  id="accordion_3">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_3" 
               href="#collapse11">
               <span style="margin-right:5px;" class="glyphicon glyphicon-pencil"></span>文章管理
            </a>
         </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.open('http://www.youlunshidai.com/admin');" style="cursor:pointer">新增文章</span></li>
         </ul>
         </div>
      </div>
      </div>
      <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_3" 
               href="#collapse13">
               <span style="margin-right:5px;" class="glyphicon glyphicon-time"></span>日志管理
            </a>
         </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="b2cuserlogLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='b2cuserlog';" style="cursor:pointer">用户访问量</span></li>
         </ul>
         </div>
      </div>
      </div>
            </div>

         </div>
      </div>
   </div>

    <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse8_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-flag"></span>分销商
            </a>
         </h4>
      </div>
      <div id="collapse8_all" class="panel-collapse collapse">
         <div class="panel-body">
            <span class='glyphicon glyphicon-info-sign' style='margin-right:5px'></span>内容建设中...
         </div>
      </div>
   </div>

   <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse8_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-send"></span>移动端
            </a>
         </h4>
      </div>
      <div id="collapse8_all" class="panel-collapse collapse">
         <div class="panel-body">
            <span class='glyphicon glyphicon-info-sign' style='margin-right:5px'></span>内容建设中...
         </div>
      </div>
   </div>

   <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse4_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-plane"></span>团控
            </a>
         </h4>
      </div>
      <div id="collapse4_all" class="panel-collapse collapse">
         <div class="panel-body">
            <span class='glyphicon glyphicon-info-sign' style='margin-right:5px'></span>内容建设中...
         </div>
      </div>
   </div>

   <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse5_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-paperclip"></span>财务
            </a>
         </h4>
      </div>
      <div id="collapse5_all" class="panel-collapse collapse">
         <div class="panel-body">
            <span class='glyphicon glyphicon-info-sign' style='margin-right:5px'></span>内容建设中...
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse6_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-shopping-cart"></span>产品
            </a>
         </h4>
      </div>
      <div id="collapse6_all" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="panel-group"  id="accordion_6">

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_6" 
               href="#collapse2">
               <span style="margin-right:5px;" class="glyphicon glyphicon-list-alt"></span>按产品状态
            </a>
         </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="pstatus1LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus1'" style="cursor:pointer">草稿</span></li>
               <li id="pstatus2LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span id="refertoP2" style="cursor:pointer">待审核</span></li>
               <li id="pstatus3LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus3'" style="cursor:pointer">在售</span></li>
               <li id="pstatus4LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus4'" style="cursor:pointer">已下架</span></li>
               <li id="pstatus5LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus5'" style="cursor:pointer">停售</span></li>
               <li id="pstatus6LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus6'" style="cursor:pointer">限时特价</span></li>
               <li id="pstatus7LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus7'" style="cursor:pointer">早定优惠</span></li>
               <li id="pstatus8LI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/pstatus8'" style="cursor:pointer">特色航次</span></li>
            </ul>
         </div>
      </div>
   </div>

            </div>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse7_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-align-left"></span>数据分析
            </a>
         </h4>
      </div>
      <div id="collapse7_all" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="panel-group"  id="accordion_7">

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_7" 
               href="#collapse4">
               <span style="margin-right:5px;" class="glyphicon glyphicon-signal"></span>报表
            </a>
         </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="productchartLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/productchart'" style="cursor:pointer">产品统计</span></li>
               <li id="visitsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/visits'" style="cursor:pointer">访问量统计</span></li>
         </ul>
         </div>
      </div>
   </div>

            </div>
         </div>
      </div>
   </div>

   <div class="panel panel-default" id="model8">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_all" 
               href="#collapse9_all">
               <span style="margin-right:5px;" class="glyphicon glyphicon-lock"></span>管理层
            </a>
         </h4>
      </div>
      <div id="collapse9_all" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="panel-group"  id="accordion_8">

   <div class="panel panel-default" style="display:none">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_8" 
               href="#collapse14">
               <span style="margin-right:5px;" class="glyphicon glyphicon-book"></span>客户资料
            </a>
         </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               
               <li id="allPassengerLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allPassenger'" style="cursor:pointer">所有咨询</span></li>
         </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_8" 
               href="#collapse19">
               <span style="margin-right:5px;" class="glyphicon glyphicon-user"></span>B2B用户
            </a>
         </h4>
      </div>
      <div id="collapse19" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="contactsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/contacts'" style="cursor:pointer">所有</span></li>
               <li id="buycontactsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/buycontacts'" style="cursor:pointer">买家</span></li>
               <li id="sellcontactsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/sellcontacts'" style="cursor:pointer">卖家</span></li>
               <li id="userlevelLI" style="display:none" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/userlevel'" style="cursor:pointer">分级</span></li>
         </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_8" 
               href="#collapse17">
               <span style="margin-right:5px;" class="glyphicon glyphicon-tags"></span>业务
            </a>
         </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="allExcelALI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allExcelA'" style="cursor:pointer">客户咨询及订单记录</span></li>
                <li id="allExcelBLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allExcelB'" style="cursor:pointer">供应商，分销商联系报告</span></li>
         </ul>
         </div>
      </div>
   </div>

    <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_8" 
               href="#collapse15">
               <span style="margin-right:5px;" class="glyphicon glyphicon-envelope"></span>短信
            </a>
         </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="smsLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/sms'" style="cursor:pointer">短信发送</span></li>
               <li id="allsmsrecordLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/allsmsrecord'" style="cursor:pointer">所有发送记录</span></li>
            </ul>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_8" 
               href="#collapse20">
               <span style="margin-right:5px;" class="glyphicon glyphicon-cog"></span>系统功能
            </a>
         </h4>
      </div>
      <div id="collapse20" class="panel-collapse collapse">
         <div class="panel-body">
            <ul class="list-group">
               <li id="sysupdateLI" class="list-group-item"><span style="margin-right:5px;" class="glyphicon glyphicon-file"></span><span onclick="window.location='/sysupdate'" style="cursor:pointer">更新日志</span></li>
            </ul>
         </div>
      </div>
   </div>

            </div>
         </div>
      </div>
   </div>

</div>
