<script>

    var _tablename = "user";
    $("#collapse19").attr("class","panel-collapse collapse in");
    $("#collapse9_all").attr("class","panel-collapse collapse in");
    $("#viewtable").html("");

    function createV() {
        $.ajax({ type:"POST" , url: _tablename+"/getUserLevel", success: function(data){
            _createViews(data);
        }});
    }

    function _createViews(data) {
        var _view = new EJS({url: 'view/level.ejs'}).render({log:data});
        $("#u-view").html(_view);
    }

</script>

<div id="u-view">
    <span class='glyphicon glyphicon-refresh' style='margin-right:5px'></span>数据加载中
</div>



